section{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgb(24, 24, 24);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;

    .title{
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            color: aqua;
        }

        h1{
            font-size: 35px;
        }
    }

    .innerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .navBtn{
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 5px 0;
            font-size: 18px;
            color: grey;
            transition: all 0.3s;
            border-bottom: 2px solid rgb(24, 24, 24);
        
            &:hover{
                background-color: rgb(36, 36, 36);
            }
        }

        .active{
            font-weight: 600;
            font-size: 18px;
            color: rgb(255, 255, 255);
            border-bottom: 2px solid aqua;
        }
    }

    .action{
        position: relative;
        margin-top: 10px;

        img{
            display: block;
            width: 100%;
            border-radius: 20px;
        }

        .details{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;

            div{
                padding: 2px 20px;
                border-radius: 4px;
                margin-bottom: 5px;
                background-color: rgba(0, 0, 0, 0.411);
            }

            .control{
                margin-bottom: 30px;
                cursor: pointer;

                svg{
                    height: 60px;
                }

                #play{
                    display: block;
                }

                #pause{
                    display: none;
                }
            }

            .track{
                font-size: 32px;
                font-weight: 600;
                font-weight: 300;
            }

            .artist{
                font-size: 22px;
                font-weight: 300;
            }

            .share{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 300;
                cursor: pointer;
                transition: all 0.3s;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.658);
                }

                svg{
                    height: 18px;
                }
            }
        }
    }

    .botNav{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 10px;
        cursor: pointer;

        svg{
            color: aqua;
        }
    }

}