//This file you will create your base style inside of the project
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(133deg, 
    rgb(115, 227, 255) 0%, 
    rgb(54, 141, 255) 100%);
}